.DS_Store
site/

# Documentation
build-and-deploy-image-ibmcontainer-registry.md

# Pending codes changes
code/articles-liberty/
code/articles-data/
docker-compose.yml
local-docker-run.sh
local-run.sh
ce-deploy-apps-pers.sh

# Code 
node_modules
target
package-lock.json
yarn-error.log
yarn.lock

# Temp files
update-cns-realm.json
tmp-cns-realm.json
temp.json
articles-temp.json
web-api-temp.json
fedora-coreos-36.20220507.1.0-qemu.x86_64.qcow2.xz
podman-machine-default_fedora-coreos-36.20220507.1.0-qemu.x86_64.qcow2


